*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


        /*  logo du site  */

header{
    margin-top: 5vh;
    text-align: center;
}

header h1{
    display: none;
}

header img{
    width: 18em;
    height: auto;
}



        /*  Filtre n°1 : filtre global  */

#recherch{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

#champ-recherch{
    width: 90%;
    padding: 27px 10px;
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#champ-recherch::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.7em;
    padding-left: 1em;
}

#recherch .fa-search{
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    cursor: pointer;
}


        /*  Filtre n°2 : Ingrédients / Appareils / Ustensils  */

        /*
#btn-ingredients{
    opacity: 0;
}

#search-ingredients{
    margin-top: 0px;
}
*/


#filters-listing {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
}

.filter-type{
    display: inline-block;
    position: relative;
    width: 200px;
}

.filter-type:nth-child(1){
    margin-left: 5%;
}

.filter-btn{
    border: none;
    border-radius: 7px;
    color: #fff;
    position: absolute;
    width: 200px;
    height: 80px;
    margin-right: 25px;
    cursor: pointer;
}

#btn-ingredients{
    background-color: #3282f7;
}
#btn-appareils{
    background-color: #ed6454;
}
#btn-ustensiles{
    background-color: #68d9a4; 
}

#btn-ingredients, #btn-appareils, #btn-ustensiles {
    opacity: 1;
}

#btn-ingredients.active span, #btn-appareils.active span, #btn-ustensiles.active span{
    opacity: 0;
}

.filter-chevron{
    position: absolute;
    top: 8%;
    right: 10%;
}

.chevron-open-ingredients.active, .chevron-open-appareils.active, .chevron-open-ustensiles.active{
    z-index: 100;
    top: 30%;
    right: -130px;
}

.filter-btn span{
    left: 10%;
    font-size: 22px;
}

.filter-btn i, .filter-close-chevron{
    right: 10%;
    font-size: 20px;
}

.filter-close-chevron{
    color: #fff;
}

.filter-open-chevron-active{
    transform: rotate(180deg)!important;
    margin-top: -10px;
}

.filter-search{
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 90px; 
}

#search-ingredients, #search-appareils, #search-ustensiles{
    opacity: 0;
}

#search-ingredients.active, #search-appareils.active, #search-ustensiles.active{
    opacity: 1;
    margin-top: 0;
    display: inline-block;
}

.filter-field{
    padding: 15px 25px;
    width: 100%;
}

.filter-field::placeholder{
    color: rgba(350,350,350,0.5);
    font-size: 18px;
}

#ingredients-field{
    background-color: #3282f7;
    border: none;
}
#appliance-field{
    background-color: #ed6454; 
}
#ustensils-field{
    background-color: #68d9a4;
}

.filter-listing{
    list-style: none;
    color: #f1f1f1;
    width: auto;
    height: auto;
    display: grid;
    padding: 10px 15px;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    row-gap: 30px;
    column-gap: 40px;
    padding-top: 25px;
}

#ingredients-filter-type{
    background-color: #3282f7;
}

#appliance-filter-type{
    background-color: #ed6454;  
}

#utensils-filter-type{
    background-color: #68d9a4;
}

.filter-listing li{
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.filter-btn span, .filter-btn i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

#recipes-listing{
    display: none;
}







/*  Cartes des plats  */

#liste-plats{
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 60px;
    margin: 50px;
}

.plat{
    width: 500px;
    height: auto;
    background-color: rgba(0,0,0,0.07);
    border: none;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}

.image-plat{
    width: 100%;
    height: 250px;
    background-color: rgba(0,0,0,0.2);
}

.description-plat{
    height: 250px;
    position: relative;
}

.description-plat .titre-plat{
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: 500;
    font-size: 25px;
}

.temps-preparation{
    position: absolute;
    top: 10%;
    right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 110px;
}

.fa-clock{
    color: rgba(0,0,0,1);
    font-weight: 100!important;
    font-size: 30px;

}

.temps-preparation span{
    font-size: 25px;
}

.liste-ingredient{
    position: absolute;
    bottom: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
}

.type-ingredient, .nombre-ingredient{
    font-size: 15px;
}

.type-ingredient{
    font-weight: 600;
}

.recette{
    position: absolute;
    bottom: 20%;
    right: 5%;
    width: 200px;
    font-size: 15px;
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}




